// $controls-layout: smart;
// @import "controls/*.png";

/* ----------------------
 * Variables
 * ----------------------
 */  

$d-gray: #1c1d21;
$l-gray: #31353d;
$link: #92cdcf;
$blue: #445878;
$ice: #efeff8;
 
/* ----------------------
 * Mixing
 * ----------------------
 */

@mixin spritedata($imagename){
	@include controls-sprite($imagename);
	width: controls-sprite-width($imagename);
	height: controls-sprite-height($imagename);
}

/* ----------------------
 * Fonts
 * ----------------------
 */

.col-centered {
	float: none;
	margin: 0 auto;
}

@import url(http://fonts.googleapis.com/css?family=Dosis:300,400,500);

p, span, h1, h2, h3, h4, a, li{
	font-family: 'Dosis';
}

body{
	color: $l-gray;
	background-color: $ice;
}

header{
	height: 50px;
	width: 100%;
	background-color: $blue;

	&.undock{
		position: fixed;
		z-index: 20;
	}
}

footer{
	height: 5px;
	width: 100%;
	background-color: $blue;
}

h2{
	font-weight: 300;
	color: $l-gray;
	font-size: 36px;
}

h4{
	font-weight: 500;
	color: $d-gray;
	font-size: 28px;
}

li{
	font-weight: 300;
	font-size: 24px;
}

ul{
	padding-left: 30px;
}

p{
	margin-bottom: 0;
}
small{
	font-size: 18px;
}

a{
	color: $link;
	border-bottom: 1px dashed $link;

	&:hover{
		color: inherit;
		border-bottom: 1px solid $link;
		text-decoration: none;
	}

	&:active{
		position: relative;
		top: 3px;
		border-bottom: 1px solid $d-gray;
	}

}

nav ul li{
	padding: 0 !important;
	margin: 0;

	a{
		width: 100px;
		height: 50px;
		line-height: 50px;
		vertical-align: middle;
		display: block;
		background-color: $l-gray;
		color: white;
		border-bottom: none;
		text-align: center;

		&:hover, &.current{
			color: $ice;
			border-bottom: 5px solid $link;
		}

		&:active{
			top: 0;
			font-size: 22px;
			border-bottom: 5px solid $link;
		}
	}
}

.subtitle{
	font-weight: 500;
	font-size: 18px;
	margin: 0;
}

.h2-holder{
	border-bottom: 1px solid $link;
	margin-bottom: 30px;
}

.light{
	font-weight: 300;
}

.regular{
	font-weight: 400;
}

.medium{
	font-weight: 500;
	color: $d-gray;
}

.text-smaller{
	font-size: 18px;
}

.text-small{
	font-size: 20px;
}
.text-medium{
	font-size: 24px;
}

.big-gap-top{
	margin-top: 100px;
}

.md-gap-top{
	margin-top: 51px;
}
.md-gap-top-p{
	padding-top: 50px;
}

.sm-gap-bot{
	margin-bottom: 25px;
}

.xs-gap-bot{
	margin-bottom: 10px;
}

.sm-gap-left{
	padding-left: 30px;
}


ul.experience li{
	margin-bottom: 26px;
}

.contact{
	width: 75px;
	margin-right: 10px;
	display: inline-block;
}

